html, body {
  margin: 0;
  padding: 0;
}

/* .App {
  background-color: #99cff8;
  background: linear-gradient(var(--skyGrad1), var(--skyGrad2));
  background-color: var(--skyGrad1);
} */

/* This will select the html element when the data-bs-theme attribute is set to 'light' */
html[data-bs-theme='light'] {
  /* Your styles for light mode go here */
  --webTitle: #222;
  --webSub: #444;
  
  --navButton: #333;

  --skyGrad1: #2d91c2;
  --skyGrad2: #1e528e;
  --skyGrad3: #009DE0;
  --skyGrad4: #7bdaf2;

  --cloudGrad1: #d1cfcf;
  --cloudGrad2: #c4c4c4;

  --suitJacket: #000;
  --suitCollar: #111;


  --planePaper1: #FFFFFF;
  --planePaper2: #c0bdbd;
  --planePaper3: #888888;
  
  /* --quizButton: */


}

html[data-bs-theme='dark'] {
  /* Your styles for dark mode go here */
  /* --skyGrad1: #283e51;
  --skyGrad2: #0a2342; */
  --webTitle: #fff;
  --webSub: #ccc;
  
  --navButton: #ccc;

  
  --skyGrad1: #020111;
  --skyGrad2: #03021a;
  --skyGrad3: #060327;
  --skyGrad4: #130F40;

  --cloudGrad1: #5e679f;
  --cloudGrad2: #363b5d;

  /* --suitJacket: #000;
  --suitCollar: #111; */
  --suitJacket: #08223e;
  --suitCollar: #0c345f;



  --planePaper1: #649dde;
  --planePaper2: #4b79ae;
  --planePaper3: #315b8b;

  --darkbg: #251d29;
  --bgColor--night: #423966;


}


.button {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
  /* width: 200px; */
  transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: #357ed7;
  color: #fff;
}

.button:hover {
  background-color: #357ed7;
}

/* NAVIGATION */
.nav {
  /* position: sticky;
  top: 0;
  Add the two lines above for navbar to follow the user's scroll patterns */
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-auto-flow: column;
  background-color: var(--skyGrad1);
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}

/* .nav .gold-paper-plane-side, .nav .sun-moon-outer {
  justify-self: center;
  align-self: center;
} */

.nav .sun-moon-outer {
  justify-self: center;
  align-self: center;
}

.nav .button {
  background-color: transparent;
  color: var(--navButton);
  border: 1px solid var(--navButton);
}

.nav .button:hover {
  background-color: palegoldenrod;
  color: #222;
}

/*Adding an Arrow to the Button on Hover*/
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.sun-moon {
  position: absolute;
  grid-column: 6;
  background: radial-gradient(circle, #FFEB3B, #FFC107 80%, #FF9800);
  height: 3em;
  width: 3em;
  border-radius: 100%;
  border-color: transparent;
  box-shadow: 0 0 15px rgba(255, 255, 8, 0.2);
  justify-self: center;
  align-self: center;
  z-index: 2;
}

.btn-warning {
  border: transparent;
}

.btn-check:checked + .sun-moon {
  background: transparent;
  box-shadow: inset -16px 0px palegoldenrod, inset -16px 0px 1px 2px palegoldenrod;
}

.sun-moon-outer {
  content: '';
  grid-column: 6;
  position: absolute;
  background: repeating-conic-gradient(#FF9800 0deg 5deg, transparent 5deg 15deg);
  height: 4em;
  width: 4em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  z-index: 1;
}

.sun-moon:hover + .sun-moon-outer {
  animation: spin 5s linear infinite;
  border-color: transparent;
  background-color: transparent;
}

.btn-check:checked ~ .sun-moon-outer {
  border-color: transparent;
  background: transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/*Pages and App Styling*/
.basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}


/* Home Page CSS */
.home {
  display: block;
  background: linear-gradient(var(--skyGrad1), var(--skyGrad2), var(--skyGrad3), var(--skyGrad4));
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

/* WEBSITE TITLE */
.website-title {
  flex: 100%;
}

.website-title h1 {
  text-align:center; font-size:60px; text-transform:uppercase; color: var(--webTitle); letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
}

.website-title h1 span {
  margin-top: 5px;
  font-size:15px; color:var(--webSub); word-spacing:1px; font-weight:normal; letter-spacing:2px;
  text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

  display: grid;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
}

.website-title h1 span:after,.website-title h1 span:before {
  content: " ";
  display: block;
  border-bottom: 2px solid var(--webSub);
  border-top: 2px solid var(--webSub);
  height: 10px;
  background-color:transparent;
}

.listTerm {
  animation: rotate 3s infinite 3s;
}


/* CONTAINERS FOR MAIN */
.border-container {
  /* position: absolute; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.row-container {
  position: absolute;
  display: flex;
}

.row-container > * {
  background: radial-gradient(circle, var(--cloudGrad1), var(--cloudGrad2));
  background-attachment: fixed;
}

.logo-container {
  position: relative;
  display: flex;
  flex: 100%;
  height: 50%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.intro .paper-plane {
  position: absolute;
  top: 100px;
  left: 0px;
  /* animation: planeTrail 5s 3; */
  transform: translate(300px,40px) rotate(290deg);
}

/* PAPER AIRPLANES */
.paper-plane {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  position: absolute;
  /* animation: flyIn 2s linear forwards; */
  z-index: 1;
  /* background-color: #fff; */
  background-color: var(--planePaper1);
  width: 100px;
  height: 100px;
  clip-path: polygon(50% 5%, 90% 0%, 50% 100%, 10% 0%);
}

.paper-plane-inner {
  position: relative;
  z-index: 2;
  /* background-color: #ccc; */
  background-color: var(--planePaper2);
  width: 100px;
  height:100px;
  clip-path: polygon(50% 100%, 40% 0%, 60% 0%);
}

.paper-plane-side-border {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* animation: flyIn 2s linear forwards; */
  z-index: 1;
  background-color: black;
  width: 110px;
  height: 110px;
  clip-path: polygon(98% 1%, 3% 24%, 44% 46%, 41% 70%, 52% 53%, 70% 96%);
}

.paper-plane-side {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* animation: flyIn 2s linear forwards; */
  z-index: 1;
  background-color: #fff;
  width: 100px;
  height: 100px;
  clip-path: polygon(100% 0%, 0% 25%, 43% 48%, 40% 70%, 50% 54%, 70% 100%);
  transform: translate(2px, -3px);
}

.paper-plane-side-inner-border {
  position: relative;
  z-index: 2;
  background-color: dimgray;
  width: 110px;
  height:110px;
  clip-path: polygon(100% 4.5%, 42% 48%, 39% 72%, 52% 53%);
  
}

.paper-plane-side-inner {
  position: relative;
  z-index: 2;
  background-color: lightgray;
  width: 100px;
  height:100px;
  clip-path: polygon(100% 0%, 43% 48%, 40% 70%, 50% 54%);
  
}

.paper-plane-side-inner-border .paper-plane-side-inner {
  clip-path: polygon(100% 0%, 43% 48%, 40% 68%, 50% 54%);
  transform: translate(1px, 4px);
}

.gold-paper-plane-side {
  position: relative;
  background-color: gold;
  width: 4rem;
  height: 4rem;
  clip-path: polygon(100% 0%, 0% 25%, 43% 48%, 40% 70%, 50% 54%, 70% 100%);
}
.gold-paper-plane-side-inner {
  position: relative;
  background-color: goldenrod;
  width: 100%;
  height:100%;
  clip-path: polygon(100% 0%, 43% 48%, 40% 70%, 50% 54%);
  
}



/* TRAILS */
svg {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  stroke: lightgray;
  stroke-width: 1;
  stroke-dasharray: 6;
}

@keyframes planeTrail {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

/* SUIT PIECES */
.suit {
  position: relative;
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  background-color: var(--suitJacket);
  border-radius: 10%;
}

.suit-jacket{
  position: absolute;
  align-items: center;
  display: flex;
  width: 100px;
  height: 100px;
  flex-flow: column wrap;
  z-index: 2;
  transform: translateY(-1rem);
}

.suit-collar {
  box-sizing: border-box;
  /* background-color: rgb(50, 50, 50); */
  background-color: var(--suitCollar);
  height: 12px;
	width: 50px;
  border-radius: 30% 30% 0 0;
}
.suit-collar::after, .suit-collar::before{
  content: '';
  position:relative;
  display:inline-block;
  background:inherit;
  border-radius:inherit;
}

.suit-collar::after{
  background-color:var(--suitJacket);
  width:40px;
  height:15px;
  top:-16px;
  left:21px;
  border-radius: 0 15px / 0 50px;
  transform: rotate(-60deg);
}
.suit-collar::before{
  background-color: var(--suitJacket);
  width:40px;
  height:15px;
  top: 8px;
  left: -11px;
  border-radius: 15px 0 / 50px 0;
  transform: rotate(60deg);
}

.suit-bowtie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(1.65rem);
}

.suit-bowtie-wings {
  position: absolute;
  width: 35px;
  height: 25px;
  background-color: red;
  border-radius: 25%;
  clip-path: polygon(0% 0%, 0% 100%, 50%  50%, 100% 100%, 100% 0%, 50% 50%);
}

.suit-bowtie-knot {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: red;
  border-radius: 30%;
}

.suit-bowtie-shading {
  position: absolute;
  width: 15px;
  height: 10px;
  background-color: transparent;
  border-radius: 30%;
  box-shadow: 0px 1px 0px 0px white;
  transform: translateY(-0.4rem);
}

.suit-bowtie-shading::before {
  content: '';
  position: absolute;
  width: 19px;
  height: 12px;
  background-color: transparent;
  border-radius: 30%;
  box-shadow: 0px 1px 0px 0px white;
  transform: translate(-0.1rem,0.8rem) rotate(180deg);
}

.suit-button-row {
  position: absolute;
  align-items: center;
  display: flex;
  width: 100px;
  height: 100px;
  flex-flow: column wrap;
  z-index: 4;
  gap: 10px;
  transform: translateY(3.5rem);
}

.suit-button {
  position: relative;
  z-index: 3;
  height: 7px;
  width: 7px;
  background-color: var(--suitJacket);
  border-radius: 50%;
  display: inline-block;
}

.cloud{
  box-sizing: border-box;
  margin-bottom: 20%; /* COME BACK TO THIS FOR DYNAMIC SIZING*/
  background:#ECEFF1;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  width:350px;
  height:120px;
  border-radius:100px;
  border-color: transparent;
  z-index: 2;
}
.cloud::after, .cloud::before{
  content: '';
  position:relative;
  display:inline-block;
  background:inherit;
  border-radius:inherit;
}
.cloud::after{
  width:100px;
  height:100px;
  top:-230px;
  left:-60px;
}
.cloud::before{
  width:180px;
  height:180px;
  top: -70px;
  left:50px;
}

.cloudText {
  position: relative;
  width: 50%;
  height: 5%;
  z-index: 1;
  top: -135%;
  left: 25%;
  text-align: center;
  color: black;
}

.cloud:hover {
  border-color: transparent;
  background-color: rgb(245, 226, 152);
}

.cloud:hover ~ .sun {
  border-color: transparent;
  animation: sunRise 5s linear infinite;
}

.border-cloud{
  box-sizing: border-box;
  width:500px; 
  height:200px;
  border-radius:100px;
  box-shadow: 0 0 100px rgba(0,0,0,.2);
}

.border-cloud::after, .border-cloud::before{
  content:"";
  position:relative;
  display:inline-block;
  background:inherit;
  border-radius:inherit;
}

.border-cloud::before{
  width:180px;
  height:280px;
  top: -80px;
  left:70px;
  /* background: linear-gradient(90deg, #ECEFF1, #B0BEC5) */
}

.border-cloud::after{
  width:200px;
  height:300px;
  top:-80px;
  left:40px;
}

.sun {
  position: relative;
  left: -280px;
  top: 20px;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 150px;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255, 255, 8, 0.2);
}

/* ANIMATIONS */
@keyframes sunRise {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-50px);
  }

  100% {
    transform: translateY(-50px);
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  20%,
  80% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-25px);
  }
}


.main .prevButton {
  position: relative;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.main .nextButton {
  float: right;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.basicHomePage {
  position: right;
}

.features {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  height: 100vh;
  margin-top: 20%;
}

.features-container {
  display: flex;
  position: absolute;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.text-cloud{
  box-sizing: border-box;
  position: relative;
  width:500px; /* CHANGE WIDTH AND HEIGHT LATER TO MAKE BOX SIZING DIFFERENT*/
  height:200px;
  background-color: var(--cloudGrad1);
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  border-radius:100px;
}

.text-cloud::after, .text-cloud::before{
  content: '';
  position:absolute;
  display:inline-block;
  background:inherit;
  border-radius:inherit;
  z-index: 0;
}
.text-cloud::after{
  width:200px;
  height:200px;
  bottom: 100px;
}

.text-cloud::before{
  width:180px;
  height:180px;
  bottom:90px;
  left:110px;
}

.text-cloud h1 {
  /* letter-spacing:1px; */
  font-size: 35px;
  color: black;
}

.text-cloud h1 span {
  font-size:15px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight:normal;
  text-transform: uppercase; 
  display: block;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  height: 50vh;
}

/* QUIZ PAGES */
.quiz-page {
  display: block;
  /* background: linear-gradient(var(--skyGrad1), var(--skyGrad2)); */
  background: linear-gradient(var(--skyGrad1), var(--skyGrad4));
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.quiz-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 75%;
  height: 75%; */
  width: 100%;
  height: 100%;
  color: var(--suitJacket);
}

.quiz-container h1 {
  letter-spacing:1px;
  font-size: 35px;
}

.quiz-container h1 span {
  font-size:10px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight:normal;
  letter-spacing:2px;
  text-transform: uppercase; 
  display: block;
  align-items: center;
  justify-content: center;
}

.quiz-container h1 p {
  margin-top: 5px;
  font-size:15px;
  font-weight:normal;
}

.unfolded-plane {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(var(--planePaper1), var(--planePaper2), var(--planePaper1));
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 10%, 90% 0%);
  width: 50%;
  height: 60%;
  box-shadow: 0 0 100px rgba(0,0,0,.2);
}

.unfolded-plane::before {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 0.5%;
  background-color: var(--planePaper3);
  opacity: 0.2;
}

.unfolded-plane::after {
  content: '';
  position: absolute;
  bottom: 90%;
  left: 90%;
  width: 10%;
  height: 20%;
  background-color: var(--planePaper2);
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
}

.quiz-text {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 4fr 1fr;
  grid-template-columns: 1fr;
  grid-area: span;
  place-content: center;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 90%;
}

.quiz-answers {
  justify-self: center;
  align-self: center;
  text-align: left;
}

.form-check-input {
  /* display: none; */
  background-color: var(--cloudGrad2);
  border-color: var(--suitJacket);
}

.form-check-input:checked {
  background-color: var(--suitJacket);
  border-color: var(--suitJacket);
}
.form-check-label {
  cursor: pointer;
}

/* BASIC/DETAILED QUIZ */
.progress {
  background-color: transparent;
}

.progress-bar {
  background: linear-gradient(to right, black, red, orange, yellow, yellowgreen, limegreen, black);
  background-attachment: fixed;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  width: 50%;
  transition: width 0.5s ease;
}


/* QUIZ BUTTON DESIGN */
.prevButton, .nextButton, .submitButton {
  color: #fff;
}

/* QUIZ BUTTON HOVER EFFECTS*/
.prevButton span, .nextButton span, .submitButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.prevButton span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.3s;
}

.prevButton:hover span {
  padding-left: 25px;
}

.prevButton:hover span:after {
  opacity: 1;
  left: 0;
}

.nextButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.submitButton span:after {
  content: '\27A4';
  /* content: '\27A2'; */
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.nextButton:hover span, .submitButton:hover span{
  padding-right: 25px;
}

.nextButton:hover span:after, .submitButton:hover span:after{
  opacity: 1;
  right: 0;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  background-color:forestgreen;
  padding: 1%;
}

/* SURVEY PAGE */
.survey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.button-submit{
  font-size: 25px;
}

.report {
  /* display: flex;
  position: relative; */
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  text-align: center;
  /* flex-direction: row; */
  display: block;
  background: linear-gradient(var(--skyGrad1), var(--skyGrad4));
}

.carousel {
  display: 'block';
  width: 700;
  padding: 30;
}