.button {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
  width: 200px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 5px;
  background-color: #357ed7;
  color: #fff;
}

.button:hover {
  background-color: #357ed7;
}

/*Navigation Bar and updating Nav Buttons*/
.nav {
  display: flex;
  justify-content: space-around;
  background-color: #134265;
  padding: 10px 0;
}

.nav .button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.nav .button:hover {
  background-color: #b4d8fd;
  color: #0a0a23; 
}

/*Adding an Arrow to the Button on Hover*/
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/*Pages and App Styling*/
.home, .basic, .detailed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.App{
  background-color: #99cff8;
  
}
html, body {
  margin: 0;
  padding: 0;
}

/*Popover Styling*/
.nav-popover {
  max-width: 300px;
  background-color: #f8f9fa;
  border: 1px solid black;
  border-radius: 10px;
}
.nav-popover .popover-header {
  background-color: blue;
  color: white;
}
.nav-popover .popover-body {
  background-color: blanchedalmond;
}
.nav-popover .popover-arrow::after {
  border-bottom-color: blue;  /* this example changes the arrow to orange color... You can always replace with any color you choose. */
}


/*
.popover-custom {
  max-width: 300px !important;
  background-color: #f8f9fa !important;
  border: 1px solid #ced4da !important;
  border-radius: 10px !important;
}


.popover-header-custom {
  background-color: #007bff !important;
  color: #fff !important; 
  border-bottom: none !important;
  border-radius: 10px 10px 0 0 !important;
}
.popover-body-custom {
  color: #343a40 !important;
  padding: 15px !important;
}
.popover-custom .arrow::before {
  border-top-color: #ced4da !important;
}



/*
.popover {
  font-size: 1.2rem;
  background-color: #faeece;
}

.popover[x-placement^=top] > .popover-arrow::after,
.popover[x-placement^=bottom] > .popover-arrow::after,
.popover[x-placement^=right] > .popover-arrow::after,
.popover[x-placement^=left] > .popover-arrow::after {
  border-color: transparent;
}

.popover[x-placement^=top]>.popover-arrow:after {
  border-top-color: teal;
}

.popover[x-placement^=bottom]>.popover-arrow:after {
  border-bottom-color: teal;
  border-top-color: teal;
}

.popover[x-placement^=right]>.popover-arrow:after {
  border-right-color: teal;
}

.popover[x-placement^=left]>.popover-arrow:after {
  border-left-color: teal;
}

.popover {
  animation-name: rainbow-gradient;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: #faeece;
  border-color: #000000;
}

.popover .arrow {
  color: #faeece;
}
.popover .arrow:after {
  border-bottom-color: tomato;
}

@keyframes rainbow-gradient {
  0%{
    border-bottom: red;
    }
  20%{
    border-bottom: orange;
    }
  40%{
    border-bottom: yellow;
  }
  100%{
    border-bottom: yellow;
    }
}
*/
/* Testing Popovers */