.button {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  padding: 10px 20px;
  width: 200px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: #357ed7;
  color: #fff;
}

.button:hover {
  background-color: #357ed7;
}

/*Navigation Bar and updating Nav Buttons*/
.nav {
  display: flex;
  justify-content: space-around;
  background-color: #134265;
  padding: 10px 0;
}

.nav .button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.nav .button:hover {
  background-color: #b4d8fd;
  color: #0a0a23; 
}

/*Adding an Arrow to the Button on Hover*/
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/*Pages and App Styling*/
.basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.App{
  background-color: #99cff8;
  
}
html, body {
  margin: 0;
  padding: 0;
}

/* Home Page CSS */
.home {
  background-color: #ffffff;
  display: block;
  
}

.websiteTitle {
  justify-content: space-around;
  display: content-box;
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}

.title {
  text-align: center;
}

.slogan {
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  /* display: content-box; */
  /* background-color: #009DE0; */
}

.sloganText {
  flex: 50%;
  text-align: right;
  padding-right: 3%;
}

.listTerm {
  text-align: left;
  padding-left: 3%;
  flex: 50%;
  opacity: 0;
  text-transform: uppercase;
  animation: rotate;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #009DE0;
  height: 100vh;
  /* background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%); USE THIS*/
  /* background-color: #984444; */
  /* background-image: url("C:\Users\ianan\starter_helpi\src\components\ProfessionPilotLogo.png");
  background-size: cover;
  background-position: center; */
}

/* PAPER AIRPLANES */
.paper-plane {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* animation: flyIn 2s linear forwards; */
  z-index: 1;
  background-color: white;
  width: 100px;
  height: 100px;
  clip-path: polygon(50% 5%, 90% 0%, 50% 100%, 10% 0%);
}
.paper-plane-inner {
  position: relative;
  z-index: 2;
  background-color: lightgray;
  width: 100px;
  height:100px;
  clip-path: polygon(50% 100%, 40% 0%, 60% 0%);
}

.paper-plane-side-border {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* animation: flyIn 2s linear forwards; */
  z-index: 1;
  background-color: black;
  width: 110px;
  height: 110px;
  clip-path: polygon(98% 1%, 3% 24%, 44% 46%, 41% 70%, 52% 53%, 70% 96%);
}

.paper-plane-side {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* animation: flyIn 2s linear forwards; */
  z-index: 1;
  background-color: white;
  width: 100px;
  height: 100px;
  clip-path: polygon(100% 0%, 0% 25%, 43% 48%, 40% 70%, 50% 54%, 70% 100%);
  transform: translate(2px, -3px);
  /* clip-path: polygon(100% 0%, 0% 25%, 50% 50%, 48% 65%, 52% 50% ,70% 100%); */
  /* clip-path: polygon(100% 0%, 0% 25%, 50% 50%, 70% 100%); */ /* Facing top right */
  /* clip-path: polygon(100% 100%, 0% 75%, 50% 50%, 60% 0%); */ /* Facing bottom right */
  /* clip-path: polygon(50% 5%, 90% 0%, 50% 100%, 10% 0%); */ /* ORIGINAL PAPER AIRPLANE */
}

.paper-plane-side-inner-border {
  position: relative;
  z-index: 2;
  background-color: dimgray;
  width: 110px;
  height:110px;
  clip-path: polygon(100% 4.5%, 42% 48%, 39% 72%, 52% 53%);
  
}

.paper-plane-side-inner {
  position: relative;
  z-index: 2;
  background-color: lightgray;
  width: 100px;
  height:100px;
  clip-path: polygon(100% 0%, 43% 48%, 40% 70%, 50% 54%);
  
}

.paper-plane-side-inner-border .paper-plane-side-inner {
  clip-path: polygon(100% 0%, 43% 48%, 40% 68%, 50% 54%);
  transform: translate(1px, 4px);
}

.gold-paper-plane-side {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* animation: flyIn 2s linear forwards; */
  z-index: 1;
  background-color: gold;
  width: 100px;
  height: 100px;
  clip-path: polygon(100% 0%, 0% 25%, 43% 48%, 40% 70%, 50% 54%, 70% 100%);
  transform: translate(2px, -3px);
}
.gold-paper-plane-side-inner {
  position: relative;
  z-index: 2;
  background-color: goldenrod;
  width: 100px;
  height:100px;
  clip-path: polygon(100% 0%, 43% 48%, 40% 70%, 50% 54%);
  
}



/* TRAILS */
/* .trail {
  width: 50%;
  margin:5px 0;
  height:2px;
  background: repeating-linear-gradient(90deg, silver 0 6px, transparent 0 12px);
} */

svg .trail {
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: 6;
}

@keyframes planeTrail {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

.circle-trail {
  margin:0 auto;
  position:relative;
  width:300px;
  height:300px;
  /* animation: AnimationName 3s ease infinite; */
}
.circle-trail::after {
  content:"";
  position:absolute;
  width:50%;
  height:100px;
  border-radius:50%;
  left:50%;
  top:10%;
  border-top: lightblue 2px dashed;
}
.circle-trail::before {
  content:"";
  position:absolute;
  width:50%;
  height:100px;
  border-bottom: lightblue 2px dashed;
  border-radius:50%;
  left:.2%;
  margin-top:-1%;
}


@keyframes AnimationName { 
  0%{background-position:43% 0%}
  50%{background-position:58% 100%}
  100%{background-position:43% 0%}
}


/* SUIT PIECES */
.suit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  background-color: black;
  border-radius: 10%;
}

.suit-jacket{
  position: absolute;
  align-items: center;
  display: flex;
  width: 100px;
  height: 100px;
  flex-flow: column wrap;
  z-index: 2;
  transform: translateY(-1rem);
}

.suit-collar {
  box-sizing: border-box;
  background-color: rgb(50, 50, 50);
  height: 12px;
	width: 50px;
  border-radius: 30% 30% 0 0;
}
.suit-collar::after, .suit-collar::before{
  content: '';
  position:relative;
  display:inline-block;
  background:inherit;
  border-radius:inherit;
}

.suit-collar::after{
  background-color:black;
  width:40px;
  height:15px;
  top:-16px;
  left:21px;
  border-radius: 0 15px / 0 50px;
  transform: rotate(-60deg);
}
.suit-collar::before{
  background-color: black;
  width:40px;
  height:15px;
  top: 8px;
  left: -11px;
  border-radius: 15px 0 / 50px 0;
  transform: rotate(60deg);
}

.suit-bowtie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(1.65rem);
}

.suit-bowtie-wings {
  position: absolute;
  width: 35px;
  height: 25px;
  background-color: red;
  border-radius: 25%;
  clip-path: polygon(0% 0%, 0% 100%, 50%  50%, 100% 100%, 100% 0%, 50% 50%);
}

.suit-bowtie-knot {
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: red;
  border-radius: 30%;
}

.suit-bowtie-shading {
  position: absolute;
  width: 15px;
  height: 10px;
  background-color: transparent;
  border-radius: 30%;
  box-shadow: 0px 1px 0px 0px white;
  transform: translateY(-0.4rem);
}

.suit-bowtie-shading::before {
  content: '';
  position: absolute;
  width: 19px;
  height: 12px;
  background-color: transparent;
  border-radius: 30%;
  box-shadow: 0px 1px 0px 0px white;
  transform: translate(-0.1rem,0.8rem) rotate(180deg);
}

.center-line {
  position: absolute;
  width: 1px;
  height: 100px;
  background-color: yellow;
  z-index: 10;
  opacity: 0.5;
  /* border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 100vh solid white; */

}

.suit-button-row {
  position: absolute;
  align-items: center;
  display: flex;
  width: 100px;
  height: 100px;
  flex-flow: column wrap;
  z-index: 4;
  gap: 10px;
  transform: translateY(3.5rem);
}

.suit-button {
  position: relative;
  z-index: 3;
  height: 7px;
  width: 7px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

@keyframes flyIn {
  0% {
    transform: rotate(0deg) translateX(-50vw) rotate(-50deg);
  }
  40% {
    transform: rotate(0deg) translate(0vw, 25vh) rotate(-90deg);
  }
  90% {
    transform: rotate(-180deg) translateY(25vh) rotate(-180deg);
  }
  95% {
    transform: translate(10px,2vh) rotate(-360deg);
  }
  100% {
    transform: translate(10px,10px) rotate(-360deg);
  }
}

.cloud{
  box-sizing: border-box;
  margin-bottom: 20%; /* COME BACK TO THIS FOR DYNAMIC SIZING*/
  background:#ECEFF1;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  width:350px;
  height:120px;
  border-radius:100px;
  border-color: transparent;
  z-index: 2;
}
.cloud::after, .cloud::before{
  content: '';
  position:relative;
  display:inline-block;
  background:inherit;
  border-radius:inherit;
}
.cloud::after{
  width:100px;
  height:100px;
  top:-230px;
  left:-60px;
}
.cloud::before{
  width:180px;
  height:180px;
  top: -70px;
  left:50px;
}

.cloudText {
  position: relative;
  width: 50%;
  height: 5%;
  z-index: 1;
  top: -135%;
  left: 25%;
  text-align: center;
  color: black;
}

.cloud:hover {
  border-color: transparent;
  background-color: rgb(245, 226, 152);
}

.cloud:hover ~ .sun{
  border-color: transparent;
  animation: sunRise 5s linear infinite;
}

.sun {
  position: relative;
  left: -280px;
  top: 20px;
  z-index: 1;
  /* opacity: 0; */
  margin: 0;
  padding: 0;
  width: 150px;
  height: 150px;
  background: yellow;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(255,255,8,0.2);
  
  
}

/* ANIMATIONS */
@keyframes sunRise {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  
  50% {
    transform: translateY(-50px);
  }
  
  100% {
    transform: translateY(-50px);
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  
  20%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    transform: translateY(-25px);
  }
}


.main .prevButton {
  position: relative;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.main .nextButton {
  float: right;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.basicHomePage {
  position: right;

}

.features {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  background-color: #009DE0;
}

.featureCloud{
  box-sizing: border-box;
  margin-bottom: 20%;
  width:500px; /* CHANGE WIDTH AND HEIGHT LATER TO MAKE BOX SIZING DIFFERENT*/
  height:200px;
  background:#ECEFF1;
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  border-radius:100px;
}
.featureCloud::after, .featureCloud::before{
  content: '';
  position:relative;
  display:inline-block;
  background:inherit;
  border-radius:inherit;
}
.featureCloud::after{
  width:200px;
  height:200px;
  top:-320px;
  left:250px;
}
.featureCloud::before{
  width:180px;
  height:180px;
  top: -70px;
  left:110px;
}
.featureCloudTitle {
  position: relative;
  z-index: 1;
  top: -80%;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
.featureCloudText {
  position: relative;
  width: 50%;
  height: 5%;
  z-index: 1;
  top: -60%;
  left: 25%;
  text-align: center;
  color: black;
  
}

.about {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  background-color: #009DE0;
}

/* Detailed Page CSS */
.detailed {
  /* background-color: #f8f9fa; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.carousel {
  display: 'block';
  width: 700;
  padding: 30;
}

.quiz {
  display: block;
  text-align: center;
  width: 75%;

}

/* Previous Button and Next Button Designs */
.prevButton .nextButton {
  color: #fff;
}

/* Previous Button Hover Effect*/
.prevButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.prevButton span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.3s;
}

.prevButton:hover span {
  padding-left: 25px;
}

.prevButton:hover span:after {
  opacity: 1;
  left: 0;
}

/* Next Button Hover Effect*/
.nextButton {
  color: #fff;
}
.nextButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

.nextButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.nextButton:hover span {
  padding-right: 25px;
}

.nextButton:hover span:after {
  opacity: 1;
  right: 0;
}


/* Testing Popovers */

/*
.popover {
  animation-name: rainbow-gradient;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: #faeece;
  border-color: #000000;
}

@keyframes rainbow-gradient {
  0%{
    border-bottom: red;
    }
  20%{
    border-bottom: orange;
    }
  40%{
    border-bottom: yellow;
  }
  100%{
    border-bottom: yellow;
    }
}
*/
/* Testing Popovers */